.login-rht-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.login-left{
    background-color: white;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
  flex-direction: column;
  justify-content: space-between; /* push footer to bottom */
  padding: 2rem;

}

.login-part{
    width: 360px;
    height: 100%;
    color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-part .login-head{
    text-align: center;
    padding-bottom: 24px;
}

.login-brand-img{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.login-brand-img .divider{
    width: 2px;
    height: 24px;
    background-color: #D6D6E3;
    margin: 3px 14px;
}

.login-head h4 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 12px;
    margin: 0;
    color:#101828;
}

.login-form{
    width: 100%;
}

.login-input{
    width: 360px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #333741;
    background: #ffffff;
    color:rgb(0, 0, 0) ;
    padding: 10px 14px;
}

.login-input:focus-visible{
    outline: 2px solid #1D39C4;
    border: none;
    color: rgb(0, 0, 0);
}

.login-email{
    margin-bottom: 20px;
}


.login-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}

.login-check{
    margin-right: 8px;
}

.checkbox-container {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #344054;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .checkbox-container input[type="checkbox"] {
      display: none;
    }

    .custom-checkbox {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background-color: #ffffff;
      position: relative;
      border: 1px solid #D0D5DD;
      transition: background-color 0.2s ease;
    }

    .checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
      background-color: #1D39C4;
    }

    .checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
      content: url('../../../images/icons/check.svg');
      color: white;
      font-size: 1px;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }



.login-sign button{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #1D39C4;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.login-sign button:hover{
    background-color: rgb(29, 57, 196,0.9);
}

.login-sso button{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #333741;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    background: transparent;
}

.login-sso button:hover{
    background-color: #e3e3e3;
    color: rgb(0, 0, 0);
}

.login-head h6 {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}

.login-right{
    position: relative;
}

.login-grad{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,#597EF7,#1D39C4);
    opacity: 0.60;
}


.login-footer{
    color: #94969C;
    
}