.excel-breadcrumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    height: 60px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #ADC6FF;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1;
}

.excel-breadcrumb .left-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excel-breadcrumb .left-head .left-arrow{
    display: flex;
    align-items: center;
   margin-right: 24px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
}

.excel-breadcrumb .left-head .left-arrow::before{
    content: url('../../../images/icons/chevron-left.svg');
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.excel-breadcrumb .left-head .left-content{
    font-size: 20px;
   font-weight: 400;
}

.excel-result{
    padding: 80px 24px;
}

.excel-result .excel-filter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.excel-result .excel-filter .desc h3{
    font-size: 18px;
    font-weight: 600;
    color: #101828;
}

.excel-result .excel-filter .desc h6{
    font-size: 14px;
    font-weight: 400;
    color: #475467;
}

.export-xl{
    padding: 8px 12px;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 12px;
    color: #344054;
    font-size: 14px;
    font-weight: 600;
}

.export-xl::before{
    content:url('../../../images/icons/download.svg');
    width: 20px;
    height: 20px;
    display: inline;
    align-items: center;
    margin-right: 4px;
}
.custom-table{
    z-index: 0;
}
.custom-table td,
.custom-table th {
  text-align: left;
  vertical-align: middle;
  white-space: pre-wrap;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Container alignment */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.pagination li.page-item {
  margin: 0 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.pagination li.page-item a.page-link {
  color: #007bff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
   display: flex;
  align-items: center;
  gap: 10px;
}

.pagination li.page-item a.page-link:hover {
  background-color: #e9ecef;
  text-decoration: none;
}

/* Active page */
.pagination li.active a.page-link {
  background-color: #007bff!important;
  color: white!important;
  border-color: #007bff!important;
 
}

/* Disabled state (if used) */
.pagination li.disabled a.page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}


.result-head h5{
    font-size: 14px;
    font-weight: 400;
    color: #475467;
    margin-bottom: 0px;
}

.result-head h4{
    font-size: 16px;
    font-weight: 500;
    color: #344054;
    margin: 0;
}
